<robot name="box">

  <link name="box">

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.001" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>

    <visual>
      <origin xyz=" 0 0 0"/>
      <geometry>
        <mesh filename="package://info_entropy/urdfs/weird shape.STL" scale=".01 .01 .01" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://info_entropy/urdfs/weird shape.STL" scale=".01 .01 .01" />
      </geometry>
    </collision>

    <gravity>0 0 -9.81</gravity>
  </link>
  <gazebo reference="box">
    <material>rainbow</material>
  </gazebo>
</robot>